/* Default */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  background-color: #f8f8f8;
  font-family: Roboto;
  letter-spacing: 0.02em;
}

ul {
  list-style-position: inside;
}

img {
  display: block;
  max-width: 100%;
}

/* Common */
.bg-gray {
  background-color: #d9d9d9;
}

.mb-5 {
  margin-bottom: 2rem;
}

/* Header */
.header {
  background: linear-gradient(
    to bottom,
    #a72800,
    #a72800 66.6%,
    #f8f8f8 33.4%,
    #f8f8f8
  );
  height: 750px;
}

.header-title {
  width: 100%;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}

.header-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-card {
  width: 33%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-info {
  text-align: center;
  padding: 0 2rem;
}

.person-info-text {
  line-height: 1.25rem;
  font-weight: 200;
  font-size: 0.83rem;
  text-align: left;
  padding-left: 1.5rem;
}

.person-info-title {
  font-size: 2.375rem;
  font-weight: 800;
  line-height: 4.25rem;
  text-align: center;
}

.person-info-subtitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.person-account-img {
  width: 470px;
  height: 470px;
  border-radius: 50%;
  overflow: hidden;
}

.person-logo-text {
  margin-bottom: 2.375rem;
}

/* Main Content */
.container {
  padding: 0 4rem 2rem 4rem;
}

.alert {
  padding: 1rem;
  text-align: center;
  font-family: Roboto Mono;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.person-description {
  padding: 2rem 0;
  line-height: 1.5rem;
}

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-list {
  padding: 0.625rem;
  font-weight: 400;
}

.card-list-title {
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 10px;
}

.card-list li {
  line-height: 1.5rem;
}

/* Footer */
.footer {
  height: 16px;
  background-color: #a72800;
  font-size: 0px;
}
